@model SubCategory


<form method="post" asp-action="Edit">
    <input asp-for="SubCategoryId" hidden />
    <input asp-for="Category_Name" hidden />
    <input asp-for="CategoryId" hidden />
    <div>
        <div>
            <h2 class="text-primary">
                Edit Category
            </h2>
            <hr />
        </div>
        <div class="mb-3">
            <label >Category</label>
            <input asp-for="Category_Name" disabled class="form-control" />
            
        </div>
        <div class="mb-3">
            <label asp-for="SubCategoryName"></label>
            <input asp-for="SubCategoryName" class="form-control" />
            <span asp-validation-for="SubCategoryName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label >Active</label>
            <input asp-for="IsActive" class="form-control" />
            
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
    </div>
</form>

